/* cores */
:root {
  --text-color: #667085;
  --main-color: #8e2424;
}

/* header */

.a-l {
  display: flex;
  align-items: center;
  gap: 8px;
}
.a-logo {
  color: #3a404e;
  font-size: 1.1rem;
  font-weight: medium;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  color: var(--text-color);
}

.btn1 {
  display: inline-block;
  color: var(--text-color);

  background: #fff;
  padding: 10px 18px;
  border-radius: 4px;
}
.btn2 {
  color: white;
  background: var(--main-color);
  padding: 10px 18px;
  border-radius: 4px;
}

/* cabecalho */

.sobrenos {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  line-height: 1.5;
}
.cabecalho {
  gap: 20px;
  display: grid;
}

.sobrenos span {
  display: flex;
  color: var(--main-color);
  font-weight: 600;
  justify-content: center;
}
.sobrenos h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #101828;
}
.sobrenos p {
  max-width: 750px;
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: center;
}

.metricas-container {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  padding: 0 112px;
  gap: 32px;
  line-height: 1.5;
}

.metricas h1 {
  font-size: 3.75rem;
  color: var(--main-color);
}

.metricas span {
  display: inline-block;
  color: #101828;
  font-weight: medium;
  font-size: 1.125rem;
  margin-bottom: 8px;
}

.metricas p {
  color: var(--text-color);
  font-size: 1rem;
}

.jobs-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 202px;
  row-gap: 24px;
}

.jobs-sobre span {
  color: #8e2424;
  background-color: #f9f4f4;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 5px;
}
.jobs h1 {
  font-size: 2.25rem;
  color: #101828;
}
.jobs p {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-bottom: 64px;
}
.img-jobs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.vaga {
  max-width: 768px;
  max-height: 136px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 0 auto;
}

.main-title {
  max-width: 768px;
  margin: 0 auto;
}
.main-title h1 {
  color: #101828;
  font-size: 1.25rem;
  margin-top: 64px;
  margin-bottom: 32px;
}

.titulo-vaga {
  display: flex;
  margin-bottom: 32px;
  color: #101828;
  font-size: 1.125rem;
  font-weight: bold;
}

.informacoes {
  display: flex;
  gap: 20px;
  color: var(--text-color);
}

.push {
  margin-bottom: 32px;
}

.colab-section {
  background: #fdf8f8;
  max-width: 1216px;
  margin: 0 auto;
  border-radius: 16px;
}

.colab {
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 96px;
  row-gap: 24px;
}
.colab span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 0.875rem;
}

.colab h1 {
  max-width: 1100px;
  text-align: center;
  font-size: 2.25rem;
  color: #101828;
}

.colab h2 {
  font-size: 1rem;
  color: #101828;
  font-weight: bold;
}

.colab p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
}




